In [1]:
import pandas as pd

In [2]:
# Scrape data

url = 'https://www.health.ny.gov/statistics/cancer/registry/appendix/neighborhoods.htm'
df_list = pd.read_html(url)
df = df_list[0]
df.head()

  Borough                Neighborhood                   ZIP Codes
0   Bronx               Central Bronx         10453, 10457, 10460
1   Bronx      Bronx Park and Fordham         10458, 10467, 10468
2   Bronx  High Bridge and Morrisania         10451, 10452, 10456
3   Bronx  Hunts Point and Mott Haven  10454, 10455, 10459, 10474
4   Bronx   Kingsbridge and Riverdale                10463, 10471

In [3]:
# Split ZIPs and concatenate

df = pd.concat([df[['Borough','Neighborhood']], df['ZIP Codes'].str.split(',', expand=True)], axis=1)
df.head()

,Borough,Neighborhood,0,1,2,3,4,5,6,7,8
0,Bronx,Central Bronx,10453,10457,10460,None,None,None,None,None,None
1,Bronx,Bronx Park and Fordham,10458,10467,10468,None,None,None,None,None,None
2,Bronx,High Bridge and Morrisania,10451,10452,10456,None,None,None,None,None,None
3,Bronx,Hunts Point and Mott Haven,10454,10455,10459,10474,None,None,None,None,None
4,Bronx,Kingsbridge and Riverdale,10463,10471,None,None,None,None,None,None,None

In [4]:
# Unpviot ZIP columns with pd.melt()

df = (pd.melt(df, id_vars=['Borough', 'Neighborhood'], value_vars=[0, 1, 2, 3, 4, 5, 6, 7, 8], value_name='ZIP'))
df.drop('variable', 1, inplace=True)
df.head()

  Borough                Neighborhood    ZIP
0   Bronx               Central Bronx  10453
1   Bronx      Bronx Park and Fordham  10458
2   Bronx  High Bridge and Morrisania  10451
3   Bronx  Hunts Point and Mott Haven  10454
4   Bronx   Kingsbridge and Riverdale  10463

In [5]:
# Clean ZIP column

df = df.dropna()
df.ZIP =  df.ZIP.str.strip().astype(int)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 178 entries, 0 to 371
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Borough       178 non-null    object
 1   Neighborhood  178 non-null    object
 2   ZIP           178 non-null    int64
dtypes: int64(1), object(2)
memory usage: 5.6+ KB

In [6]:
# Output

df.sort_values(['Borough','Neighborhood','ZIP'], axis=0, inplace=True)
df.to_excel('NYC_BorNeighZIP.xlsx', index=False)